body, h1, ul{
	margin: 0;
	padding: 0;
}

body{
	background-color: #e4e4e4;
}

body > header, body > footer{
	background-color: rgb(54,54,54);
	color: #fff;
	text-align: center;
	padding: 20px 0;
	font-family: 'Courier New', Courier, monospace;
}

nav{
	margin: 0 5%;
}

nav ul, aside ul, form ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	width: 45%;
	background-color: rgb(54,54,54);
	margin-top: 10px;
	text-align: center;
}

nav ul li:nth-child(odd){
	margin-right: 10%;
}

nav ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 5px 0;
}

nav ul li a:hover{
	color: rgb(219,69,83);
}

body > main{
	margin: 0 5%;
}

main > h2{
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > article, main > section, main > form{
	background-color: #fff;
	border: 1px solid #cacaca;
	padding: 0 5% 20px;
	text-align: center;
	margin-bottom: 20px;
}

main > section, main > form{
	padding: 20px 5% 20px;
}

/* HOME */

main > article > img{
	max-width: 100%;
	max-height: 200px;
}

main > article > h3, main > article > p{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: left;
}

main > article > p{
	font-size: 12px;
}

main > article > p:nth-of-type(2){
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > article > a, form input[type="submit"]{
	color: #000;
	background-color: #e4e4e4;
	text-decoration: none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 5px 10px;
	border-radius: 5px;
}

main > article > a:hover{
	color: rgb(219,69,83);
}

main > section > h2, main > form > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CONTATTI */
main > section > table th{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > table{ /* non è giusto perchè la tabella è disallineata !*/
	display: inline-block;
	background-color: #fff;
	border: 1px solid #cacaca;
	padding: 0 5% 20px;
	text-align: center;
	margin-bottom: 20px;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
	margin-top: 20px;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/** LOGIN */
main > form{
    padding-top: 20px;
}

form ul{
	list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
    text-align: left;
	cursor: pointer;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="submit"]{
	border-width: 1px;
	cursor: pointer;
}


aside{
	background-color: #fff;
	border: 1px solid #cacaca;
	margin: 0 5%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside > section{
	padding: 0 5% 20px;
}

aside > section > ul{
	list-style: none;
}

aside > section > ul > li{
	margin-bottom: 10px;
}

aside > section > ul > li > a{
	text-decoration: none;
}

aside > section > ul > li > a:hover{
    color: rgb(219,69,83);
}

aside > section > ul > li > img{
	width: 50px;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 768px){
	
	nav{
        margin: 0 10%;
    }

	nav ul li{
		width: 19%;
	}

	nav ul li:not(:last-child){
		margin-right: 8%;
	}

	body > main{
		width: 50%;
		margin : 0 0 0 10%;
	}

	aside{
		width: 25%;
		margin-top: 67px;
		box-sizing: border-box;
	}

	main, aside{
		display: inline-block;
		vertical-align: top;
	}

}
